// css footer
.totop{
    position: fixed;
    width: 60px;
    height: 20px;
    z-index: 200;
    right: 20px;
    bottom: 40px;
    background: $black-cl;
    color: $white-cl;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0,5s;

    &.active{
        opacity: 1;
        pointer-events: auto;
        transition: 0,5s;
    }
}
footer{
    padding: 40px 0;
    background: $black-cl;
    color: #b0b0b0;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .backtotop{
        text-transform: uppercase;
        color: #b0b0b0;
        cursor: pointer;
        text-decoration: none;
    }
    .logoft{
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
    }

    @include lg {
        // CSS responsive large desktop
    }
    @include md {
        // CSS responsive desktop
    }
    @include sm {
        // CSS responsive tablet
        .container{
            flex-direction: column;
        }
        .logoft {
            padding: 20px 30px;
            position: initial;
            left: initial;
            @include transform(initial);
        }
    }
    @include xs {
        // mobile
        .container{
            flex-direction: column;
        }
        .logoft {
            padding: 20px 30px;
            position: initial;
            left: initial;
            @include transform(initial);
        }
        
    }
    @include xxs {
        // CSS responsive small mobile
    }
}